---
title: 4.5k Hodgemoor Woods, Three Households
---

<h1>4.5k Hodgemoor Woods, Three Households</h1>

<%= partial "menu" %>

<div id='content'>
  <p>Mostly flat, open fields with a short cut across the corner of Hodgemoor Woods.  Great in the summer because the footpaths on this route don't tend to get overgrown.</p>
  <iframe src="https://www.google.com/maps/d/u/2/embed?mid=zZOHwKWcigTs.k0Nslk9cgZNY" width="640" height="480"></iframe>
</div>

