---
title: 4.5k Hodgemoor Woods, Three Households
---

<h1>4.5k Hodgemoor Woods, Three Households</h1>

<div id='menu'>
  <ul>
    <li><%= link_to 'Index', '/index' %></li>
  </ul>
</div>

<div id='content'>
  <p>Almost completely flat and hardly any road / pavement.  Great in the summer because these footpaths don't tend to get overgrown.</p>
  <iframe src="https://www.google.com/maps/d/u/2/embed?mid=zZOHwKWcigTs.k0Nslk9cgZNY" width="640" height="480"></iframe>
</div>

